body {
    width: auto;
    height: auto;
    background-image: url("../img/grüner_hintergrund.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center ;
}

#container {
    opacity: 80%;
    width: 96%;
    margin: auto;
}


dt {
    font-family: 'Popcorn Mountain Std', regular;
    color: black;
    border-bottom: 1px solid;
    border-bottom-color: whitesmoke;
    display: flex;
    font-weight: 500;
    padding: 3px 5px;
    justify-content: center;
}

h2 {
    border-bottom: 1px solid;
    border-bottom-color: whitesmoke;
    font-size: x-large;
    font-family: 'Popcorn Mountain Std', regular;
}

dd {
    font-size: larger;
    border-bottom: 1px solid;
    border-bottom-color: whitesmoke;
    display: flex;
    margin-left: 0;
}

.aktiv {
    font-size: larger;
    font-weight: bolder;
    background-color: rgba(0, 128, 0, 0.5);
}

.inaktiv {
    font-size: larger;
    background-color: rgba(212, 226, 105, 0.75);
}

dl {
    margin: auto;
}

h1 {
    margin-bottom: 2.5rem;
    text-align: center;
    justify-content: center;
    font-family:'Popcorn Mountain Std', regular;
    font-weight: bolder;
}

i.material-icons {
    cursor: pointer;
    color: black;
}

button.material-icons {
    font-size: inherit;
    vertical-align: bottom
}

[type="checkbox"] {
    vertical-align: center;
    margin-right: 8px;
}

dt span {
    width: 100%;
}

label {
    width: 100%;
    cursor: pointer
}

footer {
    justify-content: center;
}


.material-icons {
    font-family: "Material Icons", serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.artikel {
    display: flex;
    justify-content: space-between;
}

.eingabeleiste {
    height: 35px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.eingabeleiste button {
    height: 100%;
    cursor: pointer;
    border-radius: 6px
}

.eingabeleiste input {
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    border-radius: 6px;
}

.mengenfeld {
    box-sizing: border-box;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    border: 1px solid;
    width: 60px;
    font-weight: bold;
    border-radius: 6px;
    color: black;
    background-color: white;
}

.mdc-dialog__title {
    font-family: 'Popcorn Mountain Std', regular;
    font-size: x-large;
    text-align: center;
    background-color: rgba(0, 128, 0, 0.6);
}

.mdc-dialog {
    opacity: 100%;
}

.mdc-dialog__surface {
    position: absolute;
    top: 22%;
    background-color: green;
}

.mdc-dialog__actions {
    background-color: green;
}

.popup {
    font-family: 'Popcorn Mountain Std', regular;
    font-size: large;
    background-color: rgba(0, 128, 0, 0.5);
    border-bottom: 1px solid;
}

.gruppenfeld {
    text-align: center;
    background-color: green;
}

.navi {
    --color: #ffffff;
    --color2: #0b542b;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: 20px;
    border: 1.5px solid var(--color);
    transition: .9s ease;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Popcorn Mountain Std', regular;
    text-transform: uppercase;
    color: var(--color);
}

.navi::before {
    content: '';
    display: flex;
    height: 110%;
    width: 310%;
    transform: translate(0, -50%);
    position: absolute;
    top: 50%;
    left: -5%;
    z-index: -1;
    transition: .9s;
    background: -moz-linear-gradient(45deg, var(--color2) 33%, var(--color) 66%);
    background: -webkit-linear-gradient(45deg, var(--color2) 33%, var(--color) 66%);
    background: linear-gradient(45deg, var(--color2) 33%, var(--color) 66%);
}

.navi:hover::before {
    left: -200%;
}

.navi:hover {
    color: var(--color2);
}

.navi:active {
    transform: scale(.98);
    filter: brightness(.8);
}

.navibutton {
    margin: 2.5rem;
    display: flex;
    justify-content: center;
    border-bottom: 2.5rem;
}